<br><br><br><br>
<div class=container >
 <div class="form-group">
    <div class="form-group col-md-6">

 <%= form_tag url_for(action: 'create'), method: "post" do %>

      <h3><%= label_tag 'Title' %></h3>
      <%= text_field_tag 'title' %>
      <br /> <br />

      <h3><%= label_tag 'Content' %></h3>
      <%= text_field_tag 'content' %>
      <br /> <br />

     
      <%= submit_tag "Create gossip" %>

    <% end %>
      </div>
  </div>
  </div>