

<ol>gossip <%= @m  %></ol>
	<li>Title:<%= @gossip.find(@m).title %><br>
		Author:<%= @gossip.find(@m).user.first_name %>-
		       <%= @gossip.find(@m).user.last_name %><br>
		       <%= @gossip.find(@m).user.age %> ans <br>
        Content:<%= @gossip.find(@m).content%>		
		
	</li>
	
	

